In [1]:
from sklearn.datasets import fetch_openml

survey = fetch_openml(data_id=534, as_frame=True)  # Person characteristic: input, Wage per hour: output

In [2]:
survey['data']

,EDUCATION,SOUTH,SEX,EXPERIENCE,UNION,AGE,RACE,OCCUPATION,SECTOR,MARR
0,8.0,no,female,21.0,not_member,35.0,Hispanic,Other,Manufacturing,Married
1,9.0,no,female,42.0,not_member,57.0,White,Other,Manufacturing,Married
2,12.0,no,male,1.0,not_member,19.0,White,Other,Manufacturing,Unmarried
3,12.0,no,male,4.0,not_member,22.0,White,Other,Other,Unmarried
4,12.0,no,male,17.0,not_member,35.0,White,Other,Other,Married
...,...,...,...,...,...,...,...,...,...,...
529,18.0,no,male,5.0,not_member,29.0,White,Professional,Other,Unmarried
530,12.0,no,female,33.0,not_member,51.0,Other,Professional,Other,Married
531,17.0,no,female,25.0,member,48.0,Other,Professional,Other,Married
532,12.0,yes,male,13.0,member,31.0,White,Professional,Other,Married
533,16.0,no,male,33.0,not_member,55.0,White,Professional,Manufacturing,Married

In [5]:
type(survey['data'])

pandas.core.frame.DataFrame

In [6]:
survey['target']

0       5.10
1       4.95
2       6.67
3       4.00
4       7.50
       ...
529    11.36
530     6.10
531    23.25
532    19.88
533    15.38
Name: WAGE, Length: 534, dtype: float64

In [47]:
X, y = survey['data'], survey['target']

In [48]:
race = X[['RACE']]
race

         RACE
0    Hispanic
1       White
2       White
3       White
4       White
..        ...
529     White
530     Other
531     Other
532     White
533     White

[534 rows x 1 columns]

In [49]:
from sklearn.preprocessing import OneHotEncoder

transformer = OneHotEncoder(sparse=False)
transformer.fit(race) # Notice the absence of y
race = transformer.transform(race)

Transformer are stateful as well

In [50]:
transformer.categories_

[array(['Hispanic', 'Other', 'White'], dtype=object)]

In [51]:
race

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       ...,
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.]])

Scikit-learn provides utilities to transform a whole dataframe

In [52]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

categorical_columns = ['RACE', 'OCCUPATION', 'SECTOR',
                       'MARR', 'UNION', 'SEX', 'SOUTH']
numerical_columns = ['EDUCATION', 'EXPERIENCE', 'AGE']

preprocessor = make_column_transformer(
    (OneHotEncoder(), categorical_columns),
    remainder='passthrough'
)

In [53]:
preprocessor.fit(survey['data'])
X = preprocessor.transform(survey['data'])

We may now feed this to an estimator

In [54]:
X

array([[ 1.,  0.,  0., ...,  8., 21., 35.],
       [ 0.,  0.,  1., ...,  9., 42., 57.],
       [ 0.,  0.,  1., ..., 12.,  1., 19.],
       ...,
       [ 0.,  1.,  0., ..., 17., 25., 48.],
       [ 0.,  0.,  1., ..., 12., 13., 31.],
       [ 0.,  0.,  1., ..., 16., 33., 55.]])